div#contenidoimg{
     width:900px;
    height:1120px;
    color:black;
   
}

section#imagenes{
 
    margin-top:140px;
    margin-left:110px;
    width:auto;
    height:auto;

   
}


article#article1{
    background-color:#699CFC;
}
article#article2{
    background-color:#6ACA25;
}

article#article3{
    background-color:#FC663D;
}
article#article4{
    background-color:#FF9900;
}
article#article5{
    background-color:black;
}
article#article6{
    background-color:#BB5E00;
}

article#article7{
    background-color:#67971A;
}
article#article8{
    background-color:#E100E1;
}

article#article9{
    background-color:#A400A4;
}

section#imagenes article{
    margin-right:25px;
    margin-bottom:25px;
    width:690px;
    height:50px;
    
    display:inline-block;
}



h3{
    color:white;
        display:inline-block;
    margin-top:15px;
    margin-left:10px;
    margin-right:30px;
    font-size:20px;
}

section#imagenes article img{
    height:30px;
    width:30px;
    display:inline-block;
    margin-top:15px;
    float:right;
    margin-right:10px;
}

section#imagenes article:hover{
    background-color:#13A89E;
}

h1{
    margin-top:60px;
    color:#13A89E;
    text-align:center;
    font-size:32px;
    
}
            


