<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>org.itver.evalpro.servlet.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>org.itver.evalpro.servlet.TestServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/materia</url-pattern>
        <url-pattern>/profesor</url-pattern>
        <url-pattern>/acerca</url-pattern>
        <url-pattern>/login-admin</url-pattern>
        <url-pattern>/carrera</url-pattern>
        <url-pattern>/profesor-info</url-pattern>
        <url-pattern>/comentario</url-pattern>
        <url-pattern>/alta-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
