<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>org.itver.evalpro.servlet.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdmin</servlet-name>
        <servlet-class>org.itver.evalpro.servlet.ServletAdministrador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <!--Endpoints para las funciones comunes del sistema-->
        <url-pattern>/materia</url-pattern>
        <url-pattern>/acerca</url-pattern>
        <url-pattern>/carrera</url-pattern>
        <url-pattern>/profesor</url-pattern>
        <url-pattern>/profesor-info</url-pattern>
        <url-pattern>/comentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdmin</servlet-name>
        <!--Endpoints para las funciones de administrador-->
        <url-pattern>/admin</url-pattern>
        <url-pattern>/admin/login-admin</url-pattern>
        <url-pattern>/admin/alta-admin</url-pattern>
        <url-pattern>/admin/gestion-admin</url-pattern>
        <url-pattern>/admin/baja-admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>AdminConstrain</display-name>
        <web-resource-collection>
            <web-resource-name>Funciones de administrador</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>JDBCRealm</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>moderador</role-name>
    </security-role>
</web-app>
