#profesoresbusqueda{
     margin-left:70px;
    margin-top:20px;
    display:inline-block;
}
    #profesoresbusqueda p {
    color:#0F75BC;
    font-size:18px;
    margin-top:40px;
    font-weight:bold;
    }



 #search2{
   //   background: linear-gradient(90deg, #2BB673, white);
   background-color:#2BB673;
    color:black;
     width:420px; 
     height:42px;
     text-align:left;
  
  
 }

 #AEadmin{
     width:300px;
     height:125px;
     background-color:#23c2b8;
     display:inline-block;
     float:right;
 }

     #AEadmin div{
         background-color:#13A89E;
         height:33px;
         width:120px;
         border:solid;
         border-color:gray;
         display:inline-block;
     }

     #EAadmin article{
         
         margin-left:10px;
         background-color:#13A89E;
         width:290px;
         height:30px;
     }
    
        #AEadmin div p {
            text-align:center;
        }
        #grupo{
            margin-top:20px;
            margin-left:20px;
        }

        h5{
            text-align:center;
            background-color:#13A89E;
            font-size:15px;
            margin-top:15px;
            padding-bottom:10px;
        }

        #contenido1{
            margin-top:20px;
        }