
div#contenidoimg{
     width:900px;
    height:1120px;
    color:black;
   
}

section#carreras{
 
    margin-top:140px;
    margin-left:110px;
    width:auto;
    height:auto;
}


.a{
    background-color:#699CFC;
}
.b{
    background-color:#6ACA25;
}

.c{
    background-color:#FC663D;
}

.d{
    background-color:#FF9900;
}

.e{
    background-color:black;
}
.f{
    background-color:#BB5E00;
}

.g{
    background-color:#67971A;
}

.h{
    background-color:#E100E1;
}

.i{
    background-color:#A400A4;
}

section#carreras article{
    margin-right:25px;
    margin-bottom:25px;
    width:690px;
    height:50px;
    
    display:inline-block;
}



h3{
    color:white;
        display:inline-block;
    margin-top:15px;
    margin-left:10px;
    margin-right:30px;
    font-size:20px;
}

section#carreras article img{
    height:30px;
    width:30px;
    display:inline-block;
    margin-top:15px;
    float:right;
    margin-right:10px;
}

section#carreras article:hover{
    background-color:#13A89E;
}

h1{
    margin-top:60px;
    color:#13A89E;
    text-align:center;
    font-size:32px;
    
}