table#carreras{
    width: 80%;
    margin: auto;
}

table#carreras tr{
    border: 14px solid #EEEEEE;
}

table#carreras td{
    padding: 10px;
}

table#carreras img{
    height:30px;
    width:30px;
    display:inline-block;    
    float:right;
}

table#carreras a{
    display: block;
    color:white;
    text-decoration: none;
    /*font-weight: bolder;*/
    font-size: 20px;
}

table#carreras tr:hover{
    background-color:#13A89E;
}

.a{
    background-color:#699CFC;
}
.b{
    background-color:#6ACA25;
}

.c{
    background-color:#FC663D;
}

.d{
    background-color:#FF9900;
}

.e{
    background-color:black;
}
.f{
    background-color:#BB5E00;
}

.g{
    background-color:#67971A;
}

.h{
    background-color:#E100E1;
}

.i{
    background-color:#A400A4;
}