h1{
    margin-top:50px;
    font-size:32px;
    color:#13A89E;
    text-align:center;
}
table{
    font-size:20px;
    font-weight:bold;
    margin-left:75px;
    margin-top:60px;
    
}

a{
    text-decoration:none;
    color:white;}
tr{
    width:auto;
    height:auto;
}
td{
    
    width:740px;
    height:50px;
}
aticle{
    
    width:740px;
    height:50px;
}


#tr1{
    background-color:#0F75BC;
}
#tr2{
    background-color:#13A89E;
}
#tr3{
    background-color:#2BB673;
}
#tr4{
    background-color:#8CC63F;
}
#tr5{
    background-color:#0B9444;
}

p{
   margin-left:10px;
  margin-top:5px;
    font-size:20px;
    display:inline-block;
}


 table img{
     height:20px;
    width:20px;
    display:inline-block;
    margin-top:10px;
    float:right;
    margin-right:10px;
}

#contenedor{
    height:auto;
 
}
footer{
    margin-top:500px;
       position:relative;
       
}
