div#contenido{
    color:black;
}

div#contenido h1, div#contenido h2{
    color:#13A89E;
    text-align:center;
    font-size:32px;
    padding-top:60px;
}
    div#contenido h2 {
        font-size:28px;
         padding-top:80px;
    }

div#contenido p, div#contenido dt{
    color:black;
    line-height:24px;
    font-size:18px;
    padding-top:24px;
    padding-left:50px;
    padding-right:70px;
}

    div#contenido dt {
    padding-top:16px;
    padding-left:65px;
    line-height:12px;
    }

div#panel{
    padding-top:100px;
    padding-left:200px;
    
}