/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/12/2015, 07:46:25 PM
    Author     : Alfonso
*/

table#materias{
    margin: auto;
}

table#materias th, table#materias tr, table#materias td{
    border: 2px solid #EEEEEE;                
    text-transform: uppercase;
    color: white;
    padding: 7px 5px 5px 7px;    
}

table#materias td{
    font-size: 13px;
    font-weight: bolder;
}

th.materia{
    width: 400px;
}

th.creditos{
    width: 50px; 
}

th.clave{
    width: 40px; 
}

table#materias th{
    font-weight: bold;
}

.green{
    background-color: #8CC63F;
}

.green-s{
    background-color: #0B9444;
}

.blue{
    background-color: #0F75BC;
}

.emerald{
    background-color: #13A89E;
}
.pistache{
    background-color: #2BB673;
}

.center{
    text-align: center;
}

table#materias a{
    text-decoration: none;
    color: white;
    display: block;
}