*{
    border:0;
    margin:0;
    padding:0;
    font-style:normal;
    font-family:Arial;   
}

body{
    background-color:#ffffff;
}
#contenedor{
    background-color:#ffffff;
    height: 1350px;
    width:900px;
    margin-left: auto;
    margin-right: auto;
}


div#header{

    background-color:#0B9444;
    width:900px;
    height:120px;
    font-weight:bold;
    color:white;
}

section#compañia{

    padding-left:30px;
    padding-top:26px;
    font-size:26px;
    width:300px;
    height:94px;
    display:inline-block;

}
section#compañia p {
    padding-left:20px;
}

section#creadores{

    width:300px;
    height:auto;
    padding:20px;
    font-size:13px;
    float:right;
    display:inline-block;

}
section#creadores a {
    padding-left: 15px;
    padding-right: 13px;
    color:white;
    text-decoration:none;
}
section#creadores a:hover {
    padding-left: 15px;
    padding-right: 13px;
    color:#808080;
    text-decoration:none;
}

section#buscador{
    padding:20px;   
    border-color:black;
    color:black;
}

#search{
    background-color:#2BB673;
    width:234px;
    height:30px;
    text-align: center;


}



p#eslogan{
    color:#8CC63F;
    font-size:12px;

}

div#menu {
    background-color:#2BB673;    
    height:60px;
    font-size:20px;
    line-height:0px;
}

div#menu nav{

    padding-top:30px;
    padding-bottom:30px;
}

div#menu nav a{
    height:60px;
    padding-left:45px;
    padding-right:45px;
    color:black;
    text-decoration:none;

    padding-top:20px;
    padding-bottom:20px;
    line-height:0px;


}

div#menu nav a:hover{
    height:60px;
    padding-left:45px;
    padding-right:45px;
    color:black;
    text-decoration:none;

    background-color:#dcdada;
    padding-top:20px;
    padding-bottom:20px;
    line-height:0px;


}

div#contenido{
    padding-bottom: 100px;
    color:black;
}

footer{
    background-color:black;
    padding-top:20px;
    width:900px;
    height:60px;
}

footer p{
    padding-left:20px;
    color:white;
    font-size:20px;
}