table#profesores{
    width: 80%;
    font-size:20px;
    font-weight:bold;
    text-transform: uppercase;
    margin: auto;
}

table#profesores a{
    text-decoration:none;
    color:white;
    display: block;
}

table#profesores tr{
    border: 1px solid #EEEEEE;
}

table#profesores td{
    padding: 12px;
}

table#profesores tr:hover{
    background-color:#13A89E;
}

.green{
    background-color: #28A15A;
}

.blue{
    background-color: #388CC7;
}

.aqua{
    background-color: #40B9B0;
}

.pistache{
    background-color: #5AC692;
}

.lima{
    background-color:  #A2D163;
}