 tr#color{

  background-color:#2BB673;
}

 #contenido{

 }

 h1{
        color:#13A89E;
    text-align:center;
    font-size:32px;
    padding-top:60px;
 }

table{
    border:black;
    margin-top:60px;
    margin-left:70px;
}